/* Page background */
.page {
    background-color: rgb(217, 217, 208);
}

/* Navbar */
.small-image-container {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
    margin-left: 5px
}

.small-image-container img {
    width: 100%;
    height: auto;
}

.navbar {
    background-color: #768da8;
    padding: 1rem;
    font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.nav-title {
    display: flex;
    align-items: center;
    font-style: italic;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo a {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
}

.navbar .nav-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar .nav-links ul li {
    display: inline;
    margin-right: 1rem;
}

.navbar .nav-links ul li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

/* Title Content */
.card-content {
    font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
    font-size: 24px;
    letter-spacing: 1px;
    display: inline-block;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.5);
}

.title-card {
    background-image: url('../src/img/backgroundImg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 40vh;
    width: 98vw;
    text-align: center;
}

/* Main Content */
.main-content {
    padding: 2rem;
    background-size: cover;
    background-position: center;

}

.card {
    background-color: #e3e3e3;
    margin: auto;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding-top: 4vh;
    padding-bottom: 4vh;
    margin-bottom: 2rem;
    height: 60vh;
    width: 80vw;
    border: 2px solid transparent;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
}

.card-content {
    text-align: center;
    height: 80vh;
    width: 80vw;
}

.main-content {
    font-family: "Arial", sans-serif;
    font-size: 18px;
}

.about-me {
    width: calc(100% - 240px);
    margin-left: 140px;
    margin-right: auto;
}

/* Resume button */

.btn-container {
    background-color: #E16F7C;
    padding: 0.25rem;
    height: 35px;
    width: 180px;
    margin: auto;
    border-radius: 0.25rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-primary {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-primary {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 10px;
    font-size: 1.2rem;
    border-radius: 5px;
}

/* Profile picture */
.image-container {
    text-align: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
    border-radius: 0.25rem;
    margin-left: 50px;
}

/* link-to-work Sidebar */
.worksidebarcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e3e3e3;
    padding: 3rem;
    border-radius: 10rem;
    width: 5px;
    height: 70px;
    margin-top: 10px;
    border: 2px solid transparent;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
}

.code-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url('../src/img/codeicon.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.camera-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-top: 5px;
    background-image: url('../src/img/cameraicon.png');
    background-size: cover;
    background-repeat: no-repeat;

}

/* contact Sidebar */
.sidebarcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e3e3e3;
    padding: 3rem;
    border-radius: 10rem;
    width: 5px;
    height: 70px;
    margin-top: 10px;
    border: 2px solid transparent;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
}

.github-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url('../src/img/githubicon.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.linkedin-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-top: 10px;
    background-image: url('../src/img/linkedinicon.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}

/* Contact */
.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #e3e3e3;
    margin: auto;
    border-radius: 0.5rem;
    border: 2px solid transparent;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 2rem;
    height: 70vh;
    width: 80vw;
}

.contact-content {
    font-family: "Arial", sans-serif;
    font-size: 20px;
}

.form-container {
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin: 5px 0;
    padding: 10px;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
}

button {
    margin-top: 10px;
    padding: 1rem;
    width: 200px
}

input[name="message"] {
    height: 150px;
    width: 800px;
}

/* Footer */

.footercontainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footercontent {
    text-align: center;
}

/* ---------- Work page ------------ */
/* Work Section */
.work-card {
    background-color: #FFFFFF;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-top: 2rem;
    font-family: "Arial", sans-serif;
    font-size: 18px;
}

.work-container {
    background-color: #e3e3e3;
    margin: auto;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
    margin-bottom: 2rem;
    height: 500vh;
    width: 80vw;
    border: 2px solid transparent;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
}


.work-image {
    width: 400px;
    margin: auto;
    display: block;
    padding: 2rem;

}

.work-list {
    list-style-type: none;
    padding: 0;
}

.work-list li {
    margin-bottom: 1rem;
}

/* ---------- Skills page ------------ */
/* Skills */
.skills-item {
    background-color: #FFFFFF;
    border-radius: 0.5rem;
    margin-right: 1rem;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
    font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-icon {
    width: 80px;
    margin: auto;
    display: block;
    padding: 2rem;
}

.cutting-line {
    position: relative;
    display: inline-block;
    margin-left: 140px;
}

.cutting-line::after {
    content: "";
    position: absolute;
    top: 50%;
    left: calc(60vw / 7);
    width: 50vw;
    height: 2px;
    background-color: black;
}