/* Navbar */
.navbar {
    background-color: #5D536B;
    padding: 1rem;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo a {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
}

.navbar .nav-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar .nav-links ul li {
    display: inline;
    margin-right: 1rem;
}

.navbar .nav-links ul li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

/* Title Content */
.title-content {
    font-family: "Arial", sans-serif;
    font-size: 24px;
    letter-spacing: 1px;
}

.title-card {
    background-color: #ce9c9c;
    margin: auto;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding-top: 30vh;
    margin-bottom: 2rem;
    height: 20vh;
    width: 80vw;
}

/* Main Content */
.main-content {
    padding: 2rem;
    background-size: cover;
    background-position: center;
}

.card {
    background-color: #ce9c9c;
    margin: auto;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding-top: 30vh;
    margin-bottom: 2rem;
    height: 60vh;
    width: 80vw;
}

.card-content {
    text-align: center;
    height: 80vh;
    width: 80vw;
}

.main-content {
    font-family: "Arial", sans-serif;
    font-size: 18px;
}

/* Resume button */

.btn-container {
    background-color: #E16F7C;
    padding: 0.25rem;
    height: 35px;
    width: 180px;
    margin: auto;
    border-radius: 0.25rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
}

.btn-primary {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.btn-container {
    text-align: center;
}

.btn-primary {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 10px;
    font-size: 1.2rem;
    border-radius: 5px;
}

/* Profile picture */
.image-container {
    text-align: center;
}

.image-container img {
    max-width: 60%;
    height: auto;
    display: block;
    margin: auto;
}

/* Work Section */
.work-container {
    background-color: #FFFFFF;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-top: 2rem;
    font-family: "Arial", sans-serif;
    font-size: 18px;
}


.work-image {
    width: 400px;
    margin: auto;
    display: block;
    padding: 2rem;

}

.work-list {
    list-style-type: none;
    padding: 0;
}

.work-list li {
    margin-bottom: 1rem;
}